<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">

<head>

    <title>LUMHAT</title>

</head>

<body>

<!-- Start your project here-->
<div class="content" layout:fragment="content">
    <div class="container">
        <div>
            <!-- Section: Features v.2 -->
            <section class="my-5">
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center"><span th:text="#{quiz-test-online}"></span></h2>
                <!-- Section description -->
                <p class="lead grey-text text-center w-responsive mx-auto mb-5"><span th:text="#{try-now-to-see-how-well-you-can-do}"></span></p>

                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-5 ">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-lg-2 col-md-3 col-2">
                                <img src="/img/ic_monitor.png" height="32px" alt="">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-10 col-md-9 col-10">
                                <h4 class="font-weight-bold"><span th:text="#{information-tectnology}"></span></h4>
                                <p class="grey-text"><span th:text="#{information-technology-content}"></span></p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <sdiv class="row">
                            <div class="col-md-12">
                                <!-- Grid row -->
                                <div class="row">
                                    <div class="col-lg-10 col-md-12 text-center col-10">
                                        <a class="btn btn-primary btn-sm" th:href="@{/category?major_id=1}"><span th:text="#{start-now}"></span></a>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                            </div>
                        </sdiv>
                        <!-- Grid row -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-5">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-lg-2 col-md-3 col-2">
                                <img src="/img/img_english.png" height="32px" alt="">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-10 col-md-9 col-10">
                                <h4 class="font-weight-bold"><span th:text="#{english-langugage}"></span></h4>
                                <p class="grey-text"><span th:text="#{english-content}"></span></p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Grid row -->
                                <div class="row">
                                    <div class="col-lg-10 col-md-12 text-center col-10">
                                        <a class="btn btn-pink btn-sm" th:href="@{/category?major_id=2}"><span th:text="#{start-now}"></span></a>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-lg-2 col-md-3 col-2">
                                <img src="/img/img_korea.png" height="32px" alt="">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-10 col-md-9 col-10">
                                <h4 class="font-weight-bold"><span th:text="#{korean-language}"></span></h4>
                                <p class="grey-text"><span th:text="#{korean-content}"></span></p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Grid row -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 text-center col-10">
                                        <a class="btn btn-purple btn-sm" th:href="@{/category?major_id=3}"><span th:text="#{start-now}"></span></a>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </section>
            <!-- Section: Features v.2 -->
        </div>
    </div>
</div>
<!-- End your project here-->
<th:block layout:fragment="script">

    <script src="js/home-script/home.js"></script>

</th:block>
</body>
</html>
