<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_layout/default_layout">

<head>
    <title>Major</title>
</head>

<body>
<div class="content-page" layout:fragment="content-page">
    <div id="loading">
        <img id="loading-image" src="/picture/loading.gif" alt="Loading..." />
    </div>
    <form action="/admin/updateRole" method="post">
    <table class="table" id="tblUser" th:fragment="fgUser">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}" >
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:each="role:${user.getRoles()}" th:text="${role.getRole()}">
                </td>
                <td>
                    <!--<input  type="button" class="btn btn-success" value="Update" data-toggle="modal" data-target="#basicExampleModal"/>-->
                    <a th:href="@{/admin/updateRole/{id}(id=${user.getId()})}" onclick="editRole(this)" id="btnEdit" class="btnEdit btn btn-primary btnUpdate" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
                </td>
            </tr>
        </tbody>
     </table>
    </form>

    <!-- Modal for add Subject-->
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Please choose new user role</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <select class="combobox modal-update form-control" id="cboRole">
                                    <option value="0" disabled selected>Choose New User Role</option>
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                                <input type="hidden" class="txtId" id="txtId">
                               </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="button" id="btnUpdate" class="btn btn-primary" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!--End Modal-->

</div>
<th:block layout:fragment="customScript">
</th:block>

</body>

</html>