
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:fragment="leftbar">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>

                    <!--<li class="text-muted menu-title">Navigation</li>-->
                    <li class="list-group-item">
                        <a href="/admin/dashboard" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
                    </li>
                    <li  class="list-group-item">
                        <a href="/admin/order" class="waves-effect"><i class="ti-pencil-alt"></i> <span> Orders </span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/product" class="waves-effect"><i class="ti-pulse"></i> <span> Product Management </span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/customer" class="waves-effect"><i class="ti-save-alt"></i> <span> Customer </span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/stock" class="waves-effect"><i class="ti-pencil-alt"></i> <span> Stock Management </span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/expend" class="waves-effect"><i class="ti-pencil-alt"></i> <span> Expand Management</span> </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Start right Content here -->
    </div>
    <!-- Left Sidebar End -->


